body,html{
	width:100%;
	min-width:100%;
	min-height:100%;
	height:100%;
	color:#404041;
	font-size:12px;
	text-align:center;
	padding:0px;
	margin:0px;
	overflow:hidden;
	font-family:Lato,Arial;
	background-image:url("../images/fondocorfu.jpg");
	background-size:cover;
}

h1{
	font-size:40px;
}
#imgfondo{
	position:absolute;
	top:0px;
	z-index:-20;
}

#central{
	/*background-color:rgba(255,255,255,0.6);*/
	background-color:rgba(40,40,41,0.5);
	min-height:100%;
	margin-top:0px;
	padding:0px;
}

.logo{
	margin:15px;
	width:80px;
}
#contentpaso{
	border-radius:5px;
	height:100%;
	/*background-color:#4456ac;*/
	background-color:#FFF;
	min-height:100%;
	color:#FFF;
	height:100%;
	text-align:right;
	margin-left:15px;
	margin-bottom:15px;
}
#contentplato{
	border-radius:5px;
	height:100%;
	background-color:#FFF;
	min-height:100%;
	color:#FFF;
	height:100%;
	text-align:left;
	margin-right:15px;
	margin-bottom:15px;
}
.labelpaso{
	font-size:80px;
	color:#d9534f;
	margin:4px;
	font-family:Arial;
	font-weight:bold;
}

.labelpaso2{
	font-size:34px;
	color:rgb(80,80,81);
	margin:4px;
	font-weight:bold;
}
.inginfo{
	font-size:11px;
	color:#404041;
	margin-top:10px;
}
.ingname{
	font-size:12Spx;
	color:#ffa312;
	margin:3px;
	text-transform:uppercase;
	font-weight:600;
}
.ingrediente{
	background-repeat:no-repeat;
	text-align:center;
	/*border-radius:5px;
	border:2px solid #CCC;*/
	margin:3px;
	cursor:pointer;
	min-height:120px;
}
.titulo{
	color:#404041;
	font-weight:500;
	font-size:40px;
}
.nombreagregado{
	color:#202021;
	font-size:12px;
}
.subtitulo{
	color:#202021;
	font-size:12px;
}